.docs a{
    width: 300px;
    display: block;
    float: left;
    text-align: center;
    padding: 80px 0;
    cursor: pointer;
    font-size: 25px;
    font-weight: 200;
    transition: all 400ms ease;
}

.docs a:hover{
    background-color: #0FBBEC;
    color: #fff;
}

.docs a img {
    display: block;
    margin: 0 auto 20px;
}

@media (max-width: 500px) {
    .docs a {
        width: 100%;
    }
}