.wrapper {
    width: 200px;
    height: 200px;
    float: left;
    padding-top: 30px;
    border-right: none;
    display: block;
    text-align: center;
    cursor: pointer;
}

.content {
    width: 200px;
    position: relative;
}

.inDevelopment {
    overflow: hidden;
}

.inDevelopment img,
.inDevelopment h3{
    opacity: 0.6;
}

.status {
    position: absolute;
    color: #fff;
    padding: 2px 25px;
    font-size: 12px;
    z-index: 1;
    width: 200px;
    top: 50%;
    transform: rotate(10deg);
}

.status em {
    text-decoration: underline;
    color: #fff;
}

.inDevelopment {
    composes: status;
    background: #78a97c;
}

.comingSoon {
    composes: status;
    background: #dccd0a;
}

@media screen and (max-width:410px) {
    .block {
        display: block;
        width: 100%;
    }
    .content {
        margin: 0 auto;
    }

    .status {
        left: 0;
    }
}
