.getting-started {
    position: relative;
    overflow: hidden;
    background-color: #0EA9D5;

* {
    color: #fff;
}

.main {
    overflow: hidden;
}

.main a {
    width: 100%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding: 20px 0;
    display: block;
    cursor: pointer;
    transition: all 400ms ease;
}

.main a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main a .seperator {
    position: absolute;
    width: 1px;
    height: 80%;
    right: 0;
    background-color: #ddd;
    top: 10%;
}

.main a .icon {
    font-size: 100px;
    color: #fff;
}

h3 {
    margin-top: 16px;
}

.main a p {
    font-size: 16px;
    padding: 0 30px
}

.icon svg {
    height: 100px;
    width: 100%;
    fill: #fff;
}

@media screen and (min-width: 47em) {
    .main a {
        width: 50%
    }

    .main a:first-child {
        border-right: 1px solid #DDD
    }
}

}
