.get-in-touch {
    padding-bottom: 40px;

 .links {
    width: 50%;
    margin: 0 auto;
}

 .links a {
    width: calc(100% / 3);
    padding: 40px 14px 40px 67px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 15px center;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 300;
    transition: all 400ms ease;
}

@media (max-width: 700px) {
    .links a {
        width: 100%;
    }
}

 .links a:hover {
    background-color: #0FBBEC;
    color: #fff;
}

.links a.github {
    background-image: url(/images/logos/github.png);
}

 .links a.twitter {
    background-image: url(/images/logos/twitter.png);
}

 .links a.facebook {
    background-image: url(/images/logos/facebook.png);
}

 .links a.stackoverflow {
    background-image: url(/images/logos/stackoverflow.png);
}

 .links a.slack {
    background-image: url(/images/logos/slack.png);
}

}
