.guides {
    padding: 0 50px;
}

.guideSectionHeader {
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}

.guide {
    width: 300px;
    padding: 50px;
    display: inline-block;
}

.guide:hover {
    background-color: #ececec;
    cursor: pointer;
}

.guideImage {
    width: 100%;
}

.guideTitle {
    text-align: center;
    margin-top: 20px;
}