.core-concepts {
li{
    width: 70%;
    margin: 2.5% 15%;
    float: left;
    text-align: center;
}

li .icon {
    border: 1px solid #3A739B;
    border-radius: 50%;
    width: 74px;
    height: 74px;
    position: relative;
    margin: 0 auto 30px;
    text-align: center;
}

li .icon svg{
    position: relative;
    top: 19px;
    fill: #3A739B;
    height: 35px;
    width: 35px;
}

p{
    font-size: 16px;
}

@media screen and (min-width:47em){
    .use-cases{
        display:block
    }
    li{
        width: 23%;
        margin: 0px 5.1333333%;
    }
}
}
