.elton {
    background: url(/images/start-header-shadow.png) no-repeat center bottom;
    background-size: contain;
    float: left;
    padding: 0 15px 0 30px;
}

.elton img {
    width: 100%;
    max-width: 200px;
    float: right;
    margin-bottom: 15%;
}

@media screen and (min-width: 40em) {
    .elton {
        float: none;
        position: absolute;
    }

    .elton {
        bottom: 5%;
        left: 7.5%;
        width: 20%;
    }
}

@media screen and (min-width: 50em) {
    .elton {
        bottom: 5%;
        left: 25%;
        width: 12.5%;
    }
}
