.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.twoColumn {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

@media screen and (min-width:47em){
    .twoColumn {
        width: 50%;
    }
}
